#################
# Global Ignore #
#################

# OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

###################
# Project Ignores #
###################

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

#####################
# Global Exceptions #
#####################

!.htaccess
!.gitignore
