# Enable mod_rewrite support
<IfModule mod_rewrite.c>
	RewriteEngine On
	
	# Default Rule
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ /index.php/$1 [L]
</IfModule>